---
interface Props {
    tituloPage: string;
    descripctionPage: string;
    bannerTitulo: string;
    bannerDescription: string;
    bannerImagenes: {base64: string; lcpi: string; original: string};
    bannerCategoria: string;
}
const { tituloPage, descripctionPage, bannerTitulo, bannerDescription, bannerImagenes, bannerCategoria } = Astro.props;

import NavBar from "../../components/NavBar/NavBar.astro";
import BtnWhatsApp from "../../components/BotonWsp/BtnWsp.astro";
import DataFooter from "../../data/Footer.json";
import FooterList from "./../Footer/FooterList.astro";
import DataMenu from "../../data/Menu.json";
import HeroImgCss from "../HeroImgCss/BannerPrograma.astro";
import BannerPrograma from "../HeroImgCss/BannerPrograma.astro";

const {data} = DataMenu;

const {base64, lcpi , original} = bannerImagenes;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={descripctionPage} />
        <link rel="shortcut icon" href="/assets/IISEP_LOGO.webp" type="image/x-icon">
        <link
            fetchpriority="high"
            rel="preload"
            as="image"
            href="/assets/IISEP_LOGO.webp"
            type="image/webp"
        />
        <link
            fetchpriority="high"
            rel="preload"
            as="font"
            href="/fonts/Boogaloo-Regular.woff2"
            type="font/woff2"
            crossorigin
        />
        <link
            fetchpriority="high"
            rel="preload"
            as="image"
            href={lcpi} 
            type="image/webp"
        />
        
        <title>IISEP - {tituloPage}</title>
    </head>
    <body>
        <NavBar ArrayItems={ data }/>
        <div class="body">
            <BannerPrograma 
                    titulo={bannerTitulo} 
                    description={bannerDescription} 
                    categoria={bannerCategoria}
                    base64={base64}
                    lcpi={lcpi}
                    original={original}
                    />
            <slot />
        </div>
        <footer class="degradado section-padding">
            <div class="Footer-Container wrapper">
                {
                    function () {
                        let Programa = [];
                        for( const programa in DataFooter){
                           Programa.push(<FooterList categoria={programa} itemsCategoria={DataFooter[programa]} />)
                        }
                        return Programa;
                    }()
                }
            </div>
        </footer>
        <BtnWhatsApp />
    </body>
</html>

<style is:global lang="scss">
    @font-face {
        font-family: "Boogaloo";
        src: url("/fonts/Boogaloo-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Mulish";
        src: url("/fonts/Mulish-VariableFont_wght.woff2")
            format("woff2-variations");
        font-weight: 100 1000;
        font-display: swap;
    }

    :root {
        --step--2: clamp(0.6944rem, 0.6766rem + 0.089vi, 0.7378rem);
        --step--1: clamp(0.8333rem, 0.812rem + 0.1068vi, 0.8854rem);
        --step-0: clamp(1rem, 0.9744rem + 0.1282vi, 1.0625rem);
        --step-1: clamp(1.2rem, 1.1692rem + 0.1538vi, 1.275rem);
        --step-2: clamp(1.44rem, 1.4031rem + 0.1846vi, 1.53rem);
        --step-3: clamp(1.728rem, 1.6837rem + 0.2215vi, 1.836rem);
        --step-4: clamp(2.0736rem, 2.0204rem + 0.2658vi, 2.2032rem);
        --step-5: clamp(2.4883rem, 2.4245rem + 0.319vi, 2.6438rem);
        --step-6: clamp(2.986rem, 2.9094rem + 0.3828vi, 3.1726rem);

        --color-Primary: rgb(39, 52, 231);
        --color-Secondary: rgb(18, 193, 2);
        --alto-header: clamp(3rem, 1.2727rem + 3.6364vw, 3.4rem);
        --aection-padding : clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    body {
        margin-top: var(--alto-header);
        background-color: rgb(255, 255, 255);
        font-size: var(--step-0);
        font-family: "Mulish", Helvetica, sans-serif;
        line-height: 1.45;
        // display: grid;

        overflow-x: hidden;
    }

    .body {
        min-height: calc(100svh - var(--alto-header));
        // overflow-x: hidden;
    }

    .wrapper {
        width: min(90%, 1100px);
        display: grid;
        margin-inline: auto;
        gap: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
        /* background-color: yellowgreen; */
    }

    .titleSection {
        text-align: center;
        font-family: "Boogaloo";
        color: var(--color-Primary);
        text-transform: uppercase;
        line-height: normal;
        // font-weight: 700;
    }

    section {
        padding-block: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
        // overflow-x: hidden;
        // overflow-y: visible;
    }

    .section-padding{
        padding-block: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
    }

    .degradado {
        background-image: linear-gradient(
            135deg,
            var(--color-Primary) 0%,
            var(--color-Secondary) 100%
        );
        
    }

    .footerColor{
        background: rgb(37, 37, 37);
    }

    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }

    .superTitulo {
        font-family: "Boogaloo";
        font-size: var(--step-6);
        line-height: normal;
        text-transform: uppercase;
    }

    h1 {
        font-size: var(--step-3);
    }

    h2 {
        font-size: var(--step-3);
    }
    h3,
    .title3 {
        font-size: var(--step-1);
        font-weight: 800;
        //  font-variation-settings: 'wgth' 1000;
    }
    h4,
    .normal {
        font-size: var(--step-0);
    }
    h5,
    .small {
        font-size: var(--step--1);
    }
    h6,
    .smallx {
        font-size: var(--step--2);
    }
</style>


<style lang="scss">
    .Footer-Container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        @media (width > 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width > 1024px) {
            grid-template-columns: repeat(5, 1fr);
        }

    }
</style>