---
import Layout from '../components/Layout.astro';
import Data from "../data/PageData.json";
import DataCursos from "../data/DataCursos.json";
import ItemCurso from '../components/CardCursos/ItemCurso.astro';
import Banner from '../components/Banner/Banner.astro';
const {data} = DataCursos;
const {programasEstudio:{titulo , description, imagenesBanner}} = Data;
const { largeLcpi, smallLcpi} = imagenesBanner;

---

<Layout titulo={ titulo } descripction={ description}>
    <link slot="preload" fetchpriority="high" rel="preload" as="image" href=`${smallLcpi}` media="(max-width: 640px)" type="image/webp"/>
	<link slot="preload" fetchpriority="high" rel="preload" as="image" href=`${largeLcpi}` media="(min-width: 641px)" type="image/webp"/>
    <Banner 
		titulo={titulo} 
		description={description}
		textButton={"Inscribete"}
		{...imagenesBanner}
	/>
    <main>
        <section>
            <div class="wrapper">
                <h2 class="titleSection title1">Programas de Estudio</h2>
                <article class="Cursos-Container">
                    {
                        data.map( ({titulo, precio , texto , imagenes , categoria , colorCategoria, id: url},index) => {
                            return <ItemCurso titulo={titulo} texto={texto} categoria={categoria} colorCategoria={colorCategoria} precio={precio} imagenes={imagenes} url={url} index={index}/>
                        })
                    }
                </article>
            </div>
        </section>
    </main>
    
</Layout>
    
<style lang="scss" >
    .Cursos-Container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media (width > 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (width > 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
