---
import ItemAcordeon from "../Acordeon/ItemAcordeon.astro";
import Boton from "../Boton/Boton.astro";
import ItemInversion from "./ItemInversion.astro";

interface Inversion {
    Promo: string;
    PriCuota: string;
    Duracion: number;
    Acreditacion: string;
    Mensualidad: number;
    AcreditacionCosto: number;
}

interface Props {
    inversion: Inversion;
    beneficios: string[];
    categoria : string;
    programaEstudio: string;
}

const { inversion, beneficios, categoria, programaEstudio } = Astro.props;
const {Acreditacion , Duracion, Mensualidad, PriCuota, Promo, AcreditacionCosto} = inversion;

const colorIcono = "white";

const textCategoria = categoria.includes("Carrera") || categoria.includes("Especialidad") ? "la " + categoria : "el " + categoria;

---

<article class:list={['Card-Costo',{Modoblue: Promo === "Individual" ? true : false}, {Mododark: Promo === "Grupal" ? true : false}]}>
    <header class="Card-Costo__Titulo">
        <h2>{Promo}</h2>
    </header>
    <div class="Card-Costo__Inversion">
        <h3 class="Card-Costo__SubTitulo">Inversión</h3>
        <ul class="Card__lista">
            <ItemInversion propiedad="Matricula :" valor={"Gratis"} colorValor="#e61c4b"  colorIcono={colorIcono}/>
            <ItemInversion propiedad="Inscripción :" valor={"Gratis"} colorValor="#e61c4b" colorIcono={colorIcono}/>
            <ItemInversion propiedad="1° Cuota :" valor={PriCuota} colorValor="rgb(16, 180, 1)" colorIcono={colorIcono}/>
            <ItemAcordeon tema={`Mensualidades (${Duracion}) : S/${Mensualidad}`} colorIcono={colorIcono} />
            <ItemAcordeon tema={`${Acreditacion} : S/${AcreditacionCosto}`} colorIcono={colorIcono}/>
        </ul>
    </div>
    <div class="Card-Costo__Beneficios">
        <h3 class="Card-Costo__SubTitulo">Beneficios</h3>
        <ul class="Card__lista">
            <ItemAcordeon tema={"Sin Costo de Matrícula"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Sin costo de Inscripción"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Carnet de Asistencia"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Entregamos Libro físico cada mes"} colorIcono={colorIcono}/>
            {
                beneficios.map((beneficio) =>{
                    return <ItemAcordeon tema={beneficio} colorIcono={colorIcono}/>
                })
            }
            <ItemAcordeon tema={"Soporte educativo mediante WhatsApp"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Acceso a capacitaciones y a certificaciones"} colorIcono={colorIcono}/>
        </ul>
    </div>
    <Boton texto="Solicitar" href=`hola buenas, deseo mas informacion sobre los horarios y el descuento en la primera cuota del plan ${Promo} para ${textCategoria} de ${programaEstudio}` target="_blank"/>
</article>

<style lang="scss" >
    .Card-Costo {
        --filas: 1;

        flex-basis: calc((100% - (var(--filas) - 1) * 2rem) / var(--filas));
        display: grid;
        gap: 1.7rem;
        padding: 1rem;
        box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.333);
        border-radius: 1rem;

        &.Modoblue{
            background-color:#25239a;
            color: white;
        }

        &.Mododark{
            background-color: #212731;
            color: white;
        }

        &__Titulo {
            text-align: center;
            
            > h2 {
                font-weight: 800;
            }
        }

        &__SubTitulo {
            padding-bottom: 1rem;
            font-weight: 700;
        }

        > a {
            justify-self: center;
            width: 90%;
            background-color: #e61c4b;
            text-align: center;
        }

        @media (width > 768px) {
            --filas: 2;
        }
        @media (width > 1024px) {
            --filas: 3;
        }
    }

    .Card__lista {
        display: grid;
        grid-auto-rows: min-content;
        gap: 0.5rem;

        > li {
            color: rgb(224, 224, 224);
        }
    }

</style>
