---
import ItemAcordeon from "../Acordeon/ItemAcordeon.astro";
import Boton from "../Boton/Boton.astro";
import ItemInversion from "./ItemInversion.astro";

interface Inversion {
    Promo: string;
    PriCuota: string;
    Duracion: number;
    Acreditacion: string;
    Mensualidad: number;
    AcreditacionCosto: number;
}

interface Props {
    inversion: Inversion;
    beneficios: string[];
    categoria : string;
    programaEstudio: string;
}

const { inversion, beneficios, categoria, programaEstudio } = Astro.props;
const {Acreditacion , Duracion, Mensualidad, PriCuota, Promo, AcreditacionCosto} = inversion;

const colorIcono = "#12CB54";

const textCategoria = categoria.includes("Carrera") || categoria.includes("Especialidad") ? "la " + categoria : "el " + categoria;

---


<article class:list={['Card-Costo']} data-promo=`${Promo}`>
    <div class="Card-Costo__Inversion">
        <h3 class="Card-Costo__SubTitulo">Inversión</h3>
        <ul class="Card__lista">
            <ItemInversion propiedad="Matricula :" valor={"Gratis"} colorValor="#e61c4b"  colorIcono={colorIcono}/>
            <ItemInversion propiedad="Inscripción :" valor={"Gratis"} colorValor="#e61c4b" colorIcono={colorIcono}/>
            <ItemInversion propiedad="1° Cuota :" valor={PriCuota} colorValor="#12CB54" colorIcono={colorIcono}/>
            <ItemAcordeon tema={`Mensualidades (${Duracion}) : S/${Mensualidad}`} colorIcono={colorIcono} />
            <ItemAcordeon tema={`${Acreditacion} : S/${AcreditacionCosto}`} colorIcono={colorIcono}/>
        </ul>
    </div>
    <div class="Card-Costo__Beneficios">
        <h3 class="Card-Costo__SubTitulo">Beneficios</h3>
        <ul class="Card__lista">
            <ItemAcordeon tema={"Sin Costo de Matrícula"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Sin costo de Inscripción"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Carnet de Asistencia"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Entregamos Libro físico cada mes"} colorIcono={colorIcono}/>
            {
                beneficios.map((beneficio) =>{
                    return <ItemAcordeon tema={beneficio} colorIcono={colorIcono}/>
                })
            }
            <ItemAcordeon tema={"Soporte educativo mediante WhatsApp"} colorIcono={colorIcono}/>
            <ItemAcordeon tema={"Acceso a capacitaciones y a certificaciones"} colorIcono={colorIcono}/>
        </ul>
    </div>
    <Boton texto="Solicitar" href=`hola buenas, deseo mas informacion sobre los horarios y el descuento en la primera cuota del plan ${Promo} para ${textCategoria} de ${programaEstudio}` target="_blank"/>
</article>

<style lang="scss" >
    .Card-Costo {
        --filas: 1;

        flex-basis: calc((100% - (var(--filas) - 1) * 2rem) / var(--filas));
        display: grid;
        gap: 1.7rem;
        padding: 2.7rem 1rem 1rem 1rem;
        box-shadow: 0 2px 15px #00000026;
        border-radius: 1rem;
        background-color: #fff;
        transition: transform .7s;
        position: relative;
        margin-top: 1rem;
        


        &.Modoblue{
            background-color:#25239a;
            color: white;
        }

        &.Mododark{
            background-color: #212731;
            color: white;
        }

        &__Titulo {
            text-align: center;
            
            > h2 {
                font-weight: 800;
            }
        }

        &__SubTitulo {
            padding-bottom: 1rem;
            font-weight: 700;
        }

        > a {
            justify-self: center;
            width: 90%;
            background-color: var(--color-Secondary);
            text-align: center;
            font-weight: 700;
            border-radius: .35rem;
        }

        @media (width > 768px) {
            margin-top: 0;

            --filas: 2;
        }
        @media (width > 1024px) {
            --filas: 3;
            &:hover{
            transform: scale(1.03);     
        }
        }

        &::after{
            content: attr(data-promo);
            font-size: var(--step-1);
            text-align: center;
            width: 60%;
            font-weight: 800;
            position: absolute;
            background-color: orange;
            padding: .5rem 1rem;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100vh;
            color: #fff;

        }

        
    }

    .Card__lista {
        display: grid;
        grid-auto-rows: min-content;
        gap: 0.5rem;

        > li {
            // color: rgb(224, 224, 224);
        }
    }

</style>
